* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(223, 224, 226);
    color: black;
    font-family: 'Montserrat', sans-serif; 
}

.cabeçalho {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 600;
}

.cabeçalho a{
    color: blue;
    text-decoration: none;

}

.name {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  
}

.container-foto {
    height: 400px;
    margin-top: 40px;
}


#minhaFoto{
    float: left;
    height: 380px;
    width: 300px;
    padding: 10px;
    background-color: rgb(31, 31, 53);
}


.description {
    font-size: 16px;
    font-family: sans-serif;
}

h2 {
    font-size: 23px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

.trabalho-em-equipe {
    font-size: 18px;
}

.empatia {
    font-size: 18px;
}

div {
    border: 2px solid green;
}